@tailwind base;
@tailwind components;
@tailwind utilities;

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html,
body,
:root {
  height: 100%;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.8;
  font-size: 1.6rem;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

@layer base {
  :root {
    --foreground-grey: 74, 78, 105;
    --text-light: 233, 233, 230;
    --dark-blue: 1, 42, 74;
    --green: 0, 199, 177;
    --purple: 36, 0, 70;
    --pink: 255, 188, 218;
    --brown: 148, 102, 86;
    --dark-green: 42, 49, 50;
    --light-grey: 159, 162, 187;
    --text-light: 233, 233, 230;
    --text-dark: 37, 55, 70;
    --card: 160, 220, 248;
  }
}
